@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.about-me > .arrowDown{
    margin: auto;
    display: block;
    height: 100px;
}

.about-me > h1{
    font-family: 'WavvePADO-Regular';
    text-align: center;
    font-size: 50px;
}

.info-box{
    background-color: white;
    width: 1000px;
    height: 300px;

    margin: auto;
    display: block;
}