@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.aboutme > .arrowDown{
    margin: auto;
    display: block;
    height: 100px;
}

.aboutme > h1{
    font-family: 'WavvePADO-Regular';
    text-align: center;
    font-size: 50px;
}