#about-me > .about-me-text{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

#about-me > p{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#about-me > .about-me-container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-around;
    padding: 0 50px 0 50px;
}

#about-me > .about-me-container > div{
    margin: 50px;
    text-align: center;
}

#about-me > .about-me-container > div > img{

    width: 50px;
    height: 50px;
}