@font-face {
  font-family: 'Cafe24Decoshadow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'locus_sangsang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
  .banner-layout{
    background-color: #c4b0e3;
    border-bottom: 5px solid #a093c8 ;
    display: flex;
    flex-direction: column;
  }
  
  .banner{
    padding: 50px;
  }

  .animation{
    display: block;
    margin: auto;
    text-align: center;
    padding: 50px;
    font-size: 80px;
    font-family: 'Cafe24Decoshadow';

    border-right: 3px solid #62548d;
    white-space: nowrap; /* 텍스트가 줄 바꿈 없이 한 줄에 표시되도록 설정 */
    overflow: hidden;
    animation: typing 5s steps(30, end) infinite, blink 0.75s step-end infinite;


    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .4);
  }

  @keyframes typing {
    0% { width: 0ch; }
    50% { width: 27ch; } /* 텍스트 전체 길이 */
    100% { width: 0ch; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #62548d; }
}
  
  .contour{
    border-top: 5px solid #7662b4;
    margin: 30px auto;
    width: 300px;
    padding: 10px;
  }
  
 .introduction{
    font-family: 'locus_sangsang';
    font-size: 30px;
    margin: auto;
    display: block;
    padding: 50px;
    text-align: center;
  }
  
  .more-button{
    font-family: 'locus_sangsang';
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: block;
    
    padding: 20px 50px 20px 50px;
    background-color: #7662b4;
    border-radius: 100px;

    width: 150px;
  }

  .more-button > a{
    color: white;
  }
  
 