@font-face {
  font-family: 'Cafe24Decoshadow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EF_Rebecca';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
  .banner-layout{
    background-color: #FCF7F4;
    border-bottom: 5px solid #5a7eb4 ;
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .banner{
    margin: auto;
    display: block;
  }

  .typing-text{
    font-family: 'EF_Rebecca';
  }
  
  .contour{
    border-top: 5px solid #7A9ACB;
    margin: auto;
    width: 300px;
    padding: 10px;
  }
  
 .introduction{
    font-family: 'EF_Rebecca';
    font-size: 20px;
    margin: auto;
    display: block;
    padding: 30px;
    text-align: center;
  }
  
  .more-button{
    font-family: 'EF_Rebecca';
    font-size: 20px;
    text-align: center;
    margin: auto;
    display: block;
    
    padding: 20px 50px 20px 50px;
    background-color: #7A9ACB;
    border-radius: 100px;

    width: 150px;
  }

  .more-button > a{
    color: white;
  }
  
 