#Channels > .Channels-container{
    display: flex;
    justify-content: center;
}

#Channels > .Channels-container > a > div{
    width: 450px;
    height: 210px;

    background-color: #f5f5f5;
    box-shadow:0px 3px 5px #c2cdd0;
    border-radius: 10px;

    margin: 20px;
    display: flex;

    
    align-items: center;
    
    transition: .3s;
}

#Channels > .Channels-container > a > div:hover{
    background-color: #CDD7DA;
    width: 460px;
    height: 220px;
    cursor: pointer;
}

#Channels > .Channels-container > a > div > img{
    width: 100px;
    height: 100px;
    margin: 20px;
}

#Channels > .Channels-container> a > div > div > h1{
    color: #4a5b73;
    font-size: 24px;
    display: block;
}

#Channels > .Channels-container > a > div > div > p{
    color: #5c6b81;
    font-size: 12px;
}