@font-face {
    font-family: 'EF_Rebecca';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#Channels-background{
    background-color: #7194c7;
    padding-bottom: 100px;
}

#Channels-background > #Channels
 {
    font-family: 'EF_Rebecca';
    color: #FCF7F4;
}

#Channels-background > #Channels > .Channels-text{
    font-family: 'EF_Rebecca';
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

#Channels-background > #Channels > .Channels-text > .hilight{
    box-shadow: inset 0 -20px 0 #45679a; 
}

#Channels-background > #Channels > p{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#Channels-background > #Channels > .Channels-container{
    display: flex;
    justify-content: center;
}

#Channels-background > #Channels > .Channels-container > a > div{
    width: 450px;
    height: 210px;

    background-color: #FCF7F4;
    border-radius: 10px;

    margin: 20px;
    display: flex;

    cursor: pointer;

    align-items: center;

}

#Channels-background > #Channels > .Channels-container > a > div > img{
    width: 150px;
    height: 150px;
    margin: 20px;
}

#Channels-background > #Channels > .Channels-container> a > div > div > h1{
    color: #45679a;
    font-size: 20px;
    display: block;
}

#Channels-background > #Channels > .Channels-container > a > div > div > p{
    color: #7194c7;
    font-size: 10px;
}