@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

body > .navbar{
    font-family: 'HSSanTokki20-Regular';
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8a7ea;
    border-bottom: 5px solid #9e8fca ;
}

.navbar-logo{
    font-size: 24px;
    padding-left: 10px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar-menu li{
    padding: 8px 12px;
}

.header > .img-welcome {
    margin-right: 50px;
    display: block;
   }