@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

body > .navbar{
    font-family: 'KCC-Hanbit';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    color: #f5f5f5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a5b73;
}

.navbar-logo{
    font-size: 24px;
    padding-left: 10px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar-menu li{
    padding: 8px 12px;
}