@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior:smooth;
}

.container{
    font-family: 'KCC-Hanbit';
    color: #5C6B81;

    padding: 50px;
}

.main-title{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

.hilight{
    box-shadow: inset 0 -20px 0 #CDD7DA; 
}

.sub-title{
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;

    opacity: .7;
}

.container:nth-child(1){background-color: #5C6B81; color: #F5F5F5;}
.container:nth-child(2){background-color: #F5F5F5;}
.container:nth-child(3){background-color: #E4E9EB;}
.container:nth-child(4){background-color: #5C6B81; color: #F5F5F5;}
.container:nth-child(5){background-color: #E4E9EB;}
.container:nth-child(6){background-color: #F5F5F5; color: #F5F5F5;}
.container:nth-child(7){background-color: #5C6B81; text-align: center; padding: 5px;}

/* Footer */
#footer > h1{
    color: #f5f5f5; 
    padding: 0;
}

#footer > h6{
    color: #CDD7DA; 
    padding: 0;
}

#footer > h6 > span{
    color: #f5f5f5; 
}

/* Top */
.top{
    position: fixed;

    bottom: 15px;
    right: 15px;
}

.top > a > button{
    font-family: 'KCC-Hanbit';
    
    width: 50px;
    height: 50px;

    background-color: #3e4f67;
    border-radius: 100%;
    border: 3px solid #CDD7DA;
    color: #f5f5f5;
    font-size: 30px;

    cursor: pointer;
}