/*#Projects > .Projects-container{
    display: flex;
    align-items: center;
}*/

#Projects > .Projects-container > .slide-wrap{
    position: relative;
    width: 400px;

    margin: auto;
    padding-bottom: 30px;
}

#Projects > .Projects-container > .slide-wrap > .slide-box{
    width: 100%;

    margin: auto;

    overflow-x: hidden;
}

#Projects > .Projects-container > .slide-wrap > .slide-box > .slide-list > .slide-content{
    display: table;
    float: left;

    width: 400px;
    height: 400px;
}

#Projects > .Projects-container > .slide-wrap > .slide-btn-box > button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    opacity: .5;
}

#Projects > .Projects-container > .slide-wrap > .slide-btn-box > button:active{
    opacity: 1;
}

#Projects > .Projects-container > .slide-wrap > .slide-btn-box > button > img{
    width: 80px;
    height: 80px;

    filter: invert();
}
