#Projects > .Projects-text{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

#Projects > p{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#Projects > .Projects-container{
    display: flex;
    align-items: center;
}

#Projects > .Projects-container > button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#Projects > .Projects-container > button > img{
    width: 100px;
    height: 100px;

    filter: invert();
}

#Projects > .Projects-container > button > .left{
    margin-left: 50px;
}

#Projects > .Projects-container > button > .right{
    margin-right: 50px;
}

#Projects > .Projects-container > .Projects-box{
    width: 900px;
    height: 400px;

    background-color: #FCF7F4;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

    padding: 50px;
    margin: auto;
}