@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#skills > .skills-btn{
    margin: auto;
    display: flex;
    justify-content: center;
}

#skills > .skills-btn > button{
font-family: 'KCC-Hanbit';

    width: 200px;
    height: 70px;
    
    margin: 10px;
    
    color: #E4E9EB;
    background-color: #5C6B81;
    box-shadow:0px 3px 5px rgb(70, 104, 155);
    border-radius: 10px;
    border: none;

    cursor: pointer;
}

#skills > .skills-btn > button:hover{
    box-shadow:3px 3px 3px #3e4f67;
}

#skills > .skills-btn > button:active{
    background-color: #3e4f67;
}

#skills > section{
    justify-content: center;
}

#skills > section > div{
    display: flex;
    padding: 30px;
    margin: 50px;
}

#skills > section > div > img{
    width: 50px;
    height: 50px;
}

#skills > section > div > div{
    padding-left: 10px;
}

#skills > section > div > div > h1{
    size: 10px;
}

#skills > section > div > div > p{
    text-shadow: -1px 0px #5C6B81, 0px 1px #5C6B81, 1px 0px #5C6B81, 0px -1px #5C6B81;;
}
