@font-face {
    font-family: 'EF_Rebecca';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#skills-background{
    background-color: #7194c7;
}

#skills-background > #skills
 {
    font-family: 'EF_Rebecca';
    color: #FCF7F4;
}

#skills-background > #skills > .skills-text{
    font-family: 'EF_Rebecca';
    text-align: center;
    font-size: 50px;
    padding: 50px;
}

#skills-background > #skills > .skills-text > .hilight{
    box-shadow: inset 0 -20px 0 #45679a; 
}

#skills-background > #skills > .skills-box{
    width: 1000px;
    height: 500px;

    background-color: #FCF7F4;
    border-radius: 10px;

    display: flex;
    margin: auto;
}

#skills-background > #skills > .skills-box > img{
    width: 100px;
    height: 100px;

    padding-inline: 50px;
    margin: auto;

}