@font-face {
    font-family: 'EF_Rebecca';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_Rebecca.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.skill > h1{
    font-family: 'EF_Rebecca';
    text-align: center;
    font-size: 50px;
}